<nav [class.scrolled]="scrolled">
  <a href="#" class="logo">
    <img src="logo.svg" alt="NovuCode" class="logo-icon">
  <img src="letraslogo.svg" alt="NovuCode" class="logo-text-img">
  </a>

  <ul class="nav-links" [class.open]="menuOpen">
    <li><a (click)="scrollTo('servicios')">Servicios</a></li>
    <li><a (click)="scrollTo('nosotros')">Nosotros</a></li>
    <li><a (click)="scrollTo('clientes')">Clientes</a></li>
    <li><a (click)="scrollTo('proceso')">Proceso</a></li>
    <li class="mobile-cta">
      <a (click)="scrollTo('contacto')" class="nav-btn">Hablemos →</a>
    </li>
  </ul>

  <a (click)="scrollTo('contacto')" class="nav-btn desktop-cta">Hablemos →</a>

  <button class="burger" (click)="toggleMenu()" [class.active]="menuOpen">
    <span></span><span></span><span></span>
  </button>
</nav>